@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

#app{
  display: block;
  width: 75%;
  margin: auto;
}

h1{
  text-align: center;
}

.movie{
  text-align: center;
  display: block;
  font-size: 20px;
  border-style: solid;
  padding: 1px;
  margin: 0px auto;
  overflow: auto;
  width: 75%
}

}
